.searchBar {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: #F1ECE6;
    overflow: hidden;
    margin: 1rem;
    width: 37rem;
  
  }
  
  .searchBar input {
    font-size: 1.5rem;
    background-color: #F1ECE6;
    border: none;
    flex-grow: 1; 
    margin-left:1rem;
  }
  
  .searchBar input:focus {
    outline: none;
  }
  
  
  .searchButton {
    background-color: #76B7CD;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    padding:1rem;
  }
  
  .searchIcon {
    color: white;
  }
  
  .searchIcon{
    background-color: #76B7CD;
    color: white;
    border:none;
    padding:0.1rem;
  }

  @media (max-width: 1000px) {
    .searchBar{
      width: 100%;
    }}